{% extends 'index.html' %}
<p>{{domain}}<p>

 {% block content %}
  <div class="row justify-content-center">
        <div class="col-auto ">
          <label class='form-control-plaintext'>{{domain}}</label>
        </div>
    </div>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for subdomain in subdomains %}
        <tr>
          <td>{{ subdomain.id }}</td>
          <td>{{ subdomain.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
