{% extends 'layout.html' %}
{% block content %}


<form id='form_target' method='post' action='target_add' class='row justify-content-center'>
  <div class="col-auto ">
    <label class='form-control-plaintext'>Domain</label>
  </div>
  <div class='col-auto'>

    <input name='target' type='text' class='form-control' />
  </div>
  <div class='col-auto'>
    <input value='Insert' type='submit' class='btn btn-primary' />
  </div>
</form>

<div class="row">
  {% for target in targets %}
  <div class="col-auto">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col text-cneter">
            <h5 class="card-title">{{ target.domain }}</h5>
          </div>
          <div class="col  align-right">
            <a href="/target_del/{{target.id}}" type="button" class="btn-close" aria-label="Close"></a>
          </div>
        </div>
      </div>
      <div class="card-body ">
        Subdomain Count:
        <span class="badge bg-primary rounded-pill">{{ target.scount}}</span>
        <br>
        status:
        <span class="badge bg-primary rounded-pill">{{ target.status }}</span>
        <div class="card-footer justify-content-center">
          <a href="/scan/{{  target.domain  }}/{{ target.id }}" class="btn btn-primary">Scan</a>
          <a href="/dns/{{  target.domain  }}/{{ target.id }}" class="btn btn-primary">View</a>
          
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!--<table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Subdomain counter</th>
        <th>Domain</th>
        <th>Status</th>
        <th>AddTime</th>
        <th>StartTime</th>
        <th>EndTime</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      {% for target in targets %}
        <tr>
          <td>{{ target.id }}</td>
          <td>{{ target.scount}}
          <td><a href='/dns/{{  target.domain  }}/{{ target.id }}'>{{ target.domain }}</a></td>
          <td>{{ target.status }}</td>
          <td>{{ target.addtime}}</td>
          <td>{{ target.starttime }}</td>
          <td>{{ target.endtime }}</td>
           <td><a href='/target_del/{{target.id}}'>x</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  !-->
{% endblock %}